name: biomed-rag
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - tqdm
  - scikit-learn
  - matplotlib
  - requests
  - beautifulsoup4
  - lxml

  - pip:
      - sentence-transformers
      - faiss-cpu
      - torch
      - transformers
